
@{
    ViewBag.Title = "Home Index";
}

@section style{
    <link rel="stylesheet" type="text/css" href="~/Styles/Home/HomeIndex.css" />
}

@section script{
    <script src="~/Scripts/HomeIndex.js"></script>
}

<h3>Home Index</h3>

<p style="color: dodgerblue">Use following information to log in for testing:</p>
<p>Username: admin</p>
<p>Password: admin</p>





